body {
background: darkgrey;
}

#title, subtitle, post_title {color: blueviolet;}

post_title{
    font-size: 16px;
    font-style: italic;
}

post{
    background: chartreuse
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
}